// @import '~antd/dist/antd.less';
.App {
  text-align: center;
}
.layout {
  .ant-layout-header {
    background-color: #444;
    .cnode_header_wrap {
      width: 80%;
      margin: 0 auto;
      display: flex;
      .logo{
        text-align: right;
        margin-right: 40px;
        line-height: 60px;
        img {
          width: 120px;
          height: 28px;
        }
      }
      .search{
        .ant-input {
          width: 230px;
          height: 26px;
          border-radius: 26px;
          background-color: #888;
          border: none;
  
        }
      }
      .ant-menu {
        margin-left: 100px;
        line-height: 64px;
        color: #fff;
        background-color: transparent;
        border-bottom: none;
      }
    }
  }
  .ant-layout-content {
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    margin: 15px auto;
    min-height: 400px;
    .list_wrap {
      background-color: #fff;
      padding: 0 24px 24px 24px;
      box-sizing: border-box;
      min-height: 100vh;
      margin: 0 auto;
    }
    .sider_wrap {
      box-sizing: border-box;
      min-height: 100vh;
      margin: 0 auto;
      .ant-avatar {
        margin-right: 10px;
      }
      // span {
      //   color: #778087;
      // }
    }
  }
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.ant-card {
  margin-bottom: 20px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.node_header {
  background-color: #444;
  flex: 4;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
